.list{
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/brands-desktop.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    height: 100px;
    width: 100%;
  
}
.brands p {
    font-size: 1.4rem;
    padding-left: 10%;
    padding-top: 50px;
}
.brands{
    height: 20vh;
    display: flex;
    flex-direction: column;
    
}
