.fourh{
    background-color: rgb(26, 97, 233);
    color: rgb(248, 248, 248);
    width: 100%;
    min-height: 100vh;
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}
.fourh h1{
    font-size: 5rem;
    width: 100%;

}
.fourh p{
    /* padding-left: 30px; */
}